<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			#display{
				overflow-y: auto;
				width: 400px;
				height: 100px;
			}
			#input_area_div{
				position: absolute;
				float: left;
			}
			#input_area{
				width: 160%;
			}
		</style>
		
		<script src="__STATIC__/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="__STATIC__/layer/layer.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<button onclick="get_connect()">上线</button>
			<div id = 'display'></div>
			<div id = 'input_area_div'>
				<input required='required' type='text' id = 'input_area'>
				<button onclick = 'send_msg($("#input_area").val())'>发送</button>
			</div>
		<audio src="__STATIC__/audio/msg.MP3"   id = "get_message"></audio>
	<script type="text/javascript">
				//页面层
			

	</script>
		<script type="text/javascript">
			function get_connect()
			{
				ws = new WebSocket("ws://localhost:8283");			
				ws.onmessage = function(e) {
					layer.msg("收到新消息");
					$("#input_area").val('');
					var play_music = document.getElementById("get_message");
				    $("#display").append(e.data +"<br>");
				    $("#display").scrollTop($("#display")["0"].scrollHeight);
				};
				ws.onclose = function(e){
					layer.msg("服务器已关闭");
				}
			}
			function send_msg(data){
				if(!data){
					$("#input_area").focus();
					layer.msg("输入信息为空！");return false;
				}
				ws.send(data);
			}
		</script>
	</body>
</html>